---
layout: pluginlist
title: Plugins
description: We understand that not all churches have an IT budget.
catch: That's why all of our plugins are available for <strong>free</strong>.
---
<div class="container content">
  <div class="row text-center">
    <div class="col-md-12">
      <h2>Our Take on Free </h2>
    </div>
    <div class="col-md-12 mobile-banner">
      <p class="lead pad text-center">feat. 'The Free Promise'</p>
    </div>
    <div class="col-md-12 reason">
      <p>Not all churches have an IT budget. If you're a lone volunteer at a church using Rock or belong to a church that's struggling to cover the rent this month - we get it. That's why all of our plugins are available for free on Github. What's free now will be free tomorrow so there's no fear that we'll update a plugin and you'll be stuck on an older version or that a plugin will suddenly disappear.</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12">
      <h1><a id="do">Three Compelling Reasons to Buy</a></h1>
    </div>
    <div class="col-md-4 do">
      <div class="do-icon">
        <i class="fa fa-group fa-3x"></i>
      </div>
      <h3>You</h3>
      <p>Purchasing on the Rock Store takes aways the trouble of installing and keeping your plugin up to date. Why bother with FTP when you can automatically keep in sync with the updates as they come?</p>
    </div>

    <div class="col-md-4 do">
      <div class="do-icon">
        <img src="{{site.github.url}}/assets/images/logo-icon.svg"/>
      </div>
      <h3>Us</h3>
      <p>Bricks and Mortar is a <a href="{{site.github.url}}/index.html#me">one man</a> endeavour. Purchasing plugins on the Rock Store helps pay for things like my rent, test servers, and for me to not have a job so I can contribute to Rock in the time I'm not studying.</p>
    </div>
    <div class="col-md-4 do">
      <div class="do-icon">
        <i class="fa fa-heart fa-3x" style="color:#E95F40"></i>
      </div>
      <h3>The Community</h3>
      <p>50% of all of Bricks and Mortar revenue goes to the Spark Development Network to fund the continual development of Rock, by purchasing you're directly supporting the folks who make Rock a reality.</p>
    </div>
  </div>


</div>

  <div class="container bs-docs-container">
    <div class="row">
      <!-- Content
      =========================================== -->
      <div class="col-md-12" id="plugins">
        {% for p in site.plugins %}
            <div class="col-md-offset-1 col-md-10 col-xs-12">
              <section class="bs-docs-section plugin-section" id="{{p.repo}}">
                {% if p.image  %}
                <div class="col-xs-1 pull-right">
                  <img src="{{site.github.url}}/assets/images/plugins/{{p.icon}}" class="img-responsive" id="{{p.repo}}-image" />
                </div>
                <div class="col-xs-11">
                {% else %}
                <div class="col-xs-12">
                {% endif %}
                    <h2 id="first-level" >
                      {% if p.icon %}<i class="fa {{p.icon}} fa-fw fa-lg" id="{{p.repo}}-icon"></i>{% endif %}
                      {{ p.name }}
                    </h2>
                  </div>
                  <div class="col-xs-12">
                    {% if p.strapline %}
                    <p class="lead">{{p.strapline}}</p>
                    {% endif %}
                  </div>
                  <div class="col-xs-12">
                    <p>{{ p.description }} <br/>
                      <a href="{{site.github.url}}{{p.url}}">Learn More</a></p>
                    </div>
                    <div class="col-xs-12">
                      {% if p.rockstore %}
                      <a href="" class="btn btn-danger btn-md"><i class="fa fa-download fa-lg"></i> Rock Store</a>
                      {% endif %}
                      <a id="{{p.repo}}-release" href="" class="btn btn-default btn-md"><i class="fa fa-github fa-lg"></i> Github</a>
                    </div>
                </section>
              </div>
              <hr />
          {% endfor %}
        </div>
        <!-- col -->
      </div>
      <!-- row -->
  </div>
  <!-- container -->
    <script>
    (function() {
      var api = "https://api.github.com/orgs/BricksandMortar/repos";
      $.getJSON( api)
      .done(function( data ) {
        var i = 0;
        $(data).each(function() {
          if($('#'+this.name).length ) {
            (function(i) {
              $.getJSON( 'https://api.github.com/repos/BricksandMortar/'+data[i].name+'/releases')
              .done(function( releasedata ) {
                repo = data[i].name;
                if (releasedata.length)
                  $('#'+repo+'-release').attr('href', releasedata[0].html_url);
                else
                  $('#'+repo+'-release').attr('href', 'https://github.com/BricksandMortar/'+data[i].name);
              });
            })(i);
          }
          i++;
        });
      });
    })();
    </script>

    <script>
    var isMobile = $(window).width() < 760;
    if (!isMobile){
      height = 0;
      $('.do-icon').each(function () {
        if (height < $(this).height())
          height = $(this).height();
      })
      $('.do-icon').each(function() {
        $(this).css("height", (height) + "px");
      })
    }
    </script>
